In [ ]:
# import numpy and pandas
import numpy as np
import pandas as pd
# bring in matplotlib for graphics
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
pd.DataFrame(np.arange(1, 6))

In [ ]:
pd.DataFrame([1, 2])

In [ ]:
pd.DataFrame(np.array([[10, 11], [20, 21]]))

In [ ]:
df = pd.DataFrame(np.array([[10, 11], [20, 21]]), columns=['BJ', 'SH'])

In [ ]:
#多少行记录
len(df)

In [ ]:
#根据Series创建DataFrame
#columns不能直接在构造函数中传值，需要通过属性赋值
temp0 = pd.Series([10, 11])
temp1 = pd.Series([20, 21])
df = pd.DataFrame([temp0, temp1])
df.columns=['BJ', 'SH']
df

In [ ]:
temp0 = pd.Series([10, 11])
temp1 = pd.Series([20, 21])
temp2 = pd.Series([30, 31], index=[1, 2])
df = pd.DataFrame([temp0, temp1, temp2])
df.columns=['BJ', 'SH', 'NY']
df

In [11]:
sp500 = pd.read_csv("../data/sp500.csv", index_col='Symbol', usecols=[0, 2, 3, 7])
sp500.head()

SyntaxError: invalid syntax (<ipython-input-11-84593e48af3b>, line 1)

In [10]:
sp500.shape

(500, 3)

In [17]:
#sp500.loc[['MMM', 'MSFT']]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
MSFT    Information Technology   40.12      10.584

In [19]:
#直接定位特定行和列的值
sp500.at['MMM', 'Price']

141.13999999999999

In [23]:
sp500[0:5]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [27]:
#找出Price < 10的记录
sp500[sp500.Price < 10]

                             Sector  Price  Book Value
Symbol
BEAM         Consumer Discretionary   0.00         NaN
FTR     Telecommunications Services   5.81       3.989
HCBK                     Financials   9.80       9.596
HBAN                     Financials   9.10       6.995
SLM                      Financials   8.82      11.895
WIN     Telecommunications Services   9.38       1.199

In [34]:
#找出价格在6到10之间的记录，并且值显示Price和Sector列
sp500[(sp500.Price < 10) & (sp500.Price > 6)][['Price', 'Sector']]

        Price                       Sector
Symbol
HCBK     9.80                   Financials
HBAN     9.10                   Financials
SLM      8.82                   Financials
WIN      9.38  Telecommunications Services